* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

.container > header, .container > nav, .container, .container > section {
    margin-bottom: 30px;
}

.container > header > #logo {
    height: 70px;
    border-right: 1px solid #e5e5e5;
    padding-right: 20px;
}

.container > nav > ul {
    list-style-type: none;
}

.container > nav > ul > li {
    display: inline;
    font-size: 16px;
    text-transform: uppercase;
    color: #9f9f9f;
    margin-right: 10px;
}

.container > nav > ul > li a {
    text-decoration: none;
    color: inherit;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.container > nav > ul > li a:hover {
    color: #616161;
    border-bottom: 3px solid #616161;
}

.container section:first-child, .overlay {
    height: 500px;
    border-radius: 10px;
}

.container section:first-child {
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
}

.overlay div {
    position: absolute;
    width: 60%;
    bottom: 70px;
    left: 50px;
    color: #FFF;
}

.overlay h2 {
    font-weight: normal;
    font-size: 32px;
}

.overlay p {
    font-size: 14px;
}