* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

.container > header, .container > nav {
    margin-bottom: 30px;
}

.container > header > #logo {
    height: 70px;
    border-right: 1px solid #e5e5e5;
    padding-right: 20px;
}

.container > nav > ul {
    list-style-type: none;
}

.container > nav > ul > li {
    display: inline;
    font-size: 16px;
    text-transform: uppercase;
    color: #9f9f9f;
    margin-right: 10px;
}

.container > nav > ul > li a {
    text-decoration: none;
    color: inherit;

    transition: 1s;
}

.container > nav > ul > li a:hover {
    color: #616161;
    border-bottom: 3px solid #616161;
}